
        <div class="lead form-group">
          <div class="col-md-6" >
            <ul>
              <li class="list-unstyled" ng-repeat="student in homeCtrl.students">
                <a class="" ng-href="#/student/{{student.name}}">{{student.name}}</a>
                <!-- {{student}} -->
              </li>
            </ul>
          </div>
          <div class="row col-md-6" ng-show="main.isAdmin" >
            <a class="btn btn-success" href="#/student/new">Create Student</a>
          </div>
        </div>
