
        <div class="lead form-group">
          <div class="col-md-12">
            <a href="#/">Back to student list</a>
          </div> 
          <div class="col-md-12">
            <h1 class="col-md-6">{{studentCtrl.student.name}}</h1><span class="col-md-6">(Requires {{studentCtrl.requiredMinutes(studentCtrl.student.att)}} minutes a day)</span>
          </div>
          <div class="col-md-6" ng-show="main.isAdmin">
            Attended: {{studentCtrl.student.att.total_days}} - Absent: {{studentCtrl.student.total_abs}} - Overrides: {{studentCtrl.student.total_overrides}}
            <button class="btn" ng-click="studentCtrl.toggleHours(studentCtrl.student)">Toggle Hours</button>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6">
            <button type="button" class="btn" ng-click="swipe('in')" ng-class="main.inButtonStyle()">Swipe In</button>
            <button type="button" class="btn" ng-hide="studentCtrl.hideSwipeOut()" ng-click="studentCtrl.swipe('out')" ng-class="outButtonStyle()">Swipe Out</button>
            <ul ng-show="main.isAdmin">
              <li ng-repeat="swipe in studentCtrl.student.days" style="text-left">
                <div>
                  <label>
                    <span ng-class="{validday: swipe.valid}" style="width:50px" 
                          ng-click="setDay(swipe)"
                          ng-style="{'border':(swipe.day==current_day.day)?'1px solid black':''}">
                      {{swipe.day}} - {{swipe.total_mins}} minutes 
                      <span ng-show="swipe.override"> - Overridden</span>
                      <a href="" ng-hide="swipe.valid || !main.isAdmin" ng-click="override(studentCtrl.student._id,swipe.day)"> Override</a>
                    </span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <table class="table table-striped" ng-show="current_day">
              <tr>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Minutes</th>
              </tr>
              <tr ng-repeat="s in current_day.swipes">
                <td>{{s.nice_in_time}}</td>
                <td>{{s.nice_out_time}}</td>
                <td>{{s.interval}}</td>
              </tr>
            </table>
          </div>
          <!-- <div> {{studentCtrl.student}} </div> -->
        </div>
